# Golang build artifacts
/bin/
/pkg/
/dist/
/vendor/
/*.exe
/*.exe~
/*.dll
/*.so
/*.dylib
/*.test
/*.out

# Ignore Go dependency management files
go.sum
go.work.sum
go.work
Gopkg.lock
Gopkg.toml
*.mod

# Binary files
*.o
*.a
*.log



# Database
*.db
*.sqlite
*.sqlite3
*.pgdata
dump.sql

# Env files
.env
.env.local
.env.*.local

# IDE or Editor files (optional, depending on your environment)
.idea/
.vscode/
*.swp
*~

# macOS specific
.DS_Store

# Git specific
.git/
postgres/*
tmp/*